<div class="zalw-onepagecheckout-forgot-main-wrapper" style="display: none">
    <div class="zalw-onepagecheckout-forgotpassword">
        <div class="main-onepagecheckout-forgot-wrapper">
            <div class="forgot-header">
                <?php echo $block->escapeHtml(__('FORGOT PASSWORD')); ?>
            </div>
            <form class="form password forget zalw-onepagecheckout-forgot-form"
                  action="<?php echo $block->escapeHtml($block->getFormActionUrl()); ?>"
                  method="post"
                  id="form-validate"
                  data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset" data-hasrequired="<?php
                echo $block->escapeHtml(__('* Required Fields')); ?>">
                    <div class="field note"><?php
                      echo $block->escapeHtml(__('Please enter your email address below. You will receive a link to reset your password.')); ?>
                    </div>
                    <div class="field email required">
                        <label for="email_address"
                               class="label"><span><?php
                                echo $block->escapeHtml(__('Email Address')); ?></span></label>

                        <div class="control">
                            <input type="email" name="email" alt="email"
                                   id="email_address"
                                   class="input-text zalw-onepagecheckout-forgot-email"
                                   value="<?php echo $block->escapeHtml($block->getEmailValue()); ?>"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <?php echo $block->getChildHtml('form_additional_info'); ?>
                </fieldset>
                <div class="zalw-onepagecheckout-forgot-response-message response-success">

                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit"
                                class="zalw-forgot-password-submit action submit primary">
                            <span><?php echo $block->escapeHtml(__('Submit')); ?></span></button>
                    </div>
                    <div class="secondary">
                        <a class="action back" href="<?php
                           echo $block->escapeHtml($block->getLoginUrl()); ?>"><span><?php
                                echo $block->escapeHtml(__('Go back')); ?></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // <![CDATA[
    require(['Mangoit_Onepagecheckout/js/zalw/zalw_onepagecheckout', 'jquery'],
        function (zalwOnepagecheckout, $) {
            var oneStepCheckout = new zalwOnepagecheckout();
            $(document).ready(oneStepCheckout.init());
        });
    var postUrl = '<?php echo $block->getPostUrl();?>';
    // ]]>
</script>

