<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-option _collapsible onepagecheckout-payment-additional discount-code zalw-discount-code-wrapper zalw-onepagecheckout-additional-blocks"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}, myTestHandler: {} ">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action zalw-action-toggle action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Discount Codes'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">

        <form class="form form-discount zalw-discount-form zalw-additional-block-form-wrapper" id="discount-form" data-bind="blockLoader: isLoading">
            <div class="payment-option-inner">
                <div class="field">
                    <label class="label zalw-additional-block-code-label" for="discount-code">
                        <span class="zalw-additional-block-code-name" data-bind="i18n: 'Enter your coupon code:'"></span>
                    </label>
                    <div class="control">
                        <input class="input-text zalw-input-for-code"
                               type="text"
                               id="discount-code"
                               name="discount_code"
                               data-validate="{'required-entry':true}"
                               data-bind="value: couponCode, attr:{placeholder: $t('')} " />
                    </div>
                </div>
            </div>
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="zalw-actions-toolbar actions-toolbar">
                <div class="primary">
                    <!-- ko ifnot: isApplied() -->
                    <button class="action zalw-action-code-button zalw-action-apply action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                        <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                    </button>
                    <!-- /ko -->
                    <!-- ko if: isApplied() -->
                    <button class="action zalw-action-code-button zalw-action-cancel action-cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                        <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                    </button>
                    <!-- /ko -->
                </div>
            </div>
        </form>
    </div>
</div>
