<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<div class="zalw-summary-cart">
    <span class="zalw-grand-total-button zalw-arrow-down" data-bind ="text: getValue(), attr:{'data-label': title}, click:showDetails"></span>
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
