/*STORE CREDIT & REWARD POINTS*/
button.zalw-onepagecheckout-storecredit-button:hover, button.zalw-rewardpoints-button:hover{background-color: #39B9C6;}
button.zalw-onepagecheckout-storecredit-button, button.zalw-rewardpoints-button {
    background-color: #00909E;
    color: #fff;
    min-height: 40px;
    font: bold 16px 'Open Sans';
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    margin: 0 auto !important;
    display: block;
    min-width: 100% !important;
    text-align: center;
}

.zalw-payment-option-content.payment-option-content.field.choice { padding: 0 0 0 0;     margin-bottom: -7px;}

div.zalw-onepagecheckout-additional-payment{
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #dadada;
}
div.zalw-onepagecheckout-additional-payment + div.zalw-rewardpoints {
    margin-top: 0;
    border: none;
    padding-top: 0;
}
div.zalw-rewardpoints {
    margin-bottom: -21px;
}

/*****************************/


/*****RESPONSIVE DESIGN EE*****/
@media only screen and (min-width: 320px) and (max-width: 479px) {
    div.zalw-rewardpoints {margin-bottom: -21px;}
    div.zalw-onepagecheckout-additional-payment{padding-top: 25px; margin: 25px 0 0 2px !important; border-top: 1px solid #dadada;}
    div.zalw-onepagecheckout-additional-payment + div.zalw-rewardpoints{margin-top: 0 !important;}
    .zalw-grand-total-item{margin-top: 11px; margin-left: 2px;}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    div.zalw-onepagecheckout-additional-payment { margin: 25px 0 0 0 !important; }
    div.zalw-onepagecheckout-additional-payment + div.zalw-rewardpoints{margin-top: 0 !important;}
    .zalw-grand-total-item{margin-top: 12px;}
}
/*****************************/