.zalw-onepage-checkout-container .onepagecheckout-wrapper{width: 100%;}
.zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-shipping-address { width: 33.333%; padding-right: 26px;  margin-right: 0 !important;}
.zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-onepagecheckout-shipping-method{width: 33.333%; padding: 0 25px 0 25px;}
.zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-payment-method{width: 33.333%; padding-left: 25px;}
.hide{display: none;}
.show{display: block;}

.zalw-onepage-checkout .zalw-onepage-checkout-container{margin: 60px 0 20px 0 !important; position: relative;}

.zalw-onepage-checkout-container .onepagecheckout-wrapper li{box-sizing: border-box; float: left;}
.zalw-onepage-checkout-container .onepagecheckout-wrapper {padding-right: 0;}

.zalw-onepage-checkout-container .onepagecheckout-block-shipping-information{display: none;}
.checkout-shipping-address {  margin-right: 30px !important;}
.zalw-checkout-shipping-address input, select{height: 40px;}

.onepagecheckout-wrapper .form-login,
.onepagecheckout-wrapper .form-shipping-address {max-width: 100% !important;}

.table-checkout-shipping-method {min-width: 100% !important;}


.zalw-onepage-checkout .onepagecheckout-wrapper .shipping-address-item {width: 50% !important;}

.zalw-onepage-checkout.zalw-onepagecheckout-virtual .onepagecheckout-wrapper .onepagecheckout > li {float: left;width: 100%;}

.zalw-onepage-checkout .payment-method-billing-address .actions-toolbar {margin-top: 10px;}

.zalw-onepage-checkout .onepagecheckout-wrapper .zalw-onepage-checkout-additional .payment-option-inner .field .label {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.zalw-onepage-checkout .onepagecheckout-wrapper .zalw-onepage-checkout-additional .payment-option-inner .field.zalw-onepage-checkout-giftwrap .label {
    display: block;
    float: left;
    position: relative;
    padding-left: 5px;
    height: auto;
    width: auto;
}

.zalw-onepage-checkout .onepagecheckout-wrapper .zalw-onepage-checkout-additional .payment-option-inner .field.zalw-onepage-checkout-giftwrap input {float: left;}


.zalw-onepage-checkout .onepagecheckout-wrapper .zalw-onepage-checkout-additional .payment-option-inner .field {margin-bottom: 15px;}

.zalw-onepage-checkout .onepagecheckout-wrapper .zalw-onepage-checkout-additional .field .depend-field {margin-top: 5px}
.zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-shipping-address .zalw-step-title {margin-bottom: -6px;}
.zalw-onepagecheckout-shipping-method .checkout-shipping-method div.step-title{margin-bottom: 22px !important;}
.zalw-onepage-checkout-container .onepagecheckout-wrapper .step-title {
    font-weight: lighter;
    color: #404040;
    font-size: 24px;
    text-align: left;
    border-bottom: 1px solid #dadada;
    padding-bottom: 7px;
    line-height: 1;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-step-title {
    font-weight: 600;
    color: #404040;
    font-size: 16px;
    text-align: left;
    padding-bottom: 15px;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: none;
    border-bottom: 1px solid #dadada;
}
.zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-step-title-list-of-addresses{
    margin-bottom: 16px;
    margin-top: -6px;
    font-weight: 600;
    font-size: 16px;
    text-transform: none;
    padding-bottom: 16px;

}


.zalw-checkout-payment-method .payment-method .payment-method-title .label span{
    background-color: #00909E;
    color:#fff;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    font-weight: bold;
    min-height: 41px;
    line-height: 41px;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.zalw-checkout-payment-method .payment-method .payment-method-title .label span:hover{background-color: #39B9C6;}
.zalw-checkout-payment-method .payment-method .payment-method-title{padding: 0; margin-bottom: 15px; border-top: 0;}
.zalw-checkout-payment-method .payment-method .payment-method-title input[name="payment[method]"]{display: none;}
.zalw-checkout-payment-method .payment-methods div.payment-method._active .payment-method-title .label span{background-color: #39B9C6;}
.zalw-checkout-payment-method .payment-method .checkout-payment-method .payment-method-title {border-top: 0;}

.onepagecheckout-wrapper .zalw-checkout-shipping-address .shipping-address-item:before{background: none;}
.onepagecheckout-wrapper .zalw-checkout-shipping-address .shipping-address-item{width: 100% !important;}

.zalw-shipping-address-item label {padding-left: 30px; display: block;  cursor:pointer;}

.zalw-shipping-address-item input[type="radio"]:checked + label span{background-color: blue;}

form.form-shipping-address div#shipping-new-address-form .field:first-child, form.form-shipping-address div#shipping-new-address-form .field:nth-child(2n+1){
    float: left;
    clear: left;
}
.zalw-checkout-shipping-address .zalw-form-shipping-address{margin-top: 17px;}
form.form-shipping-address div#shipping-new-address-form .field{ float: right; clear: none; width: 47%;  margin: -2px 0 18px 0; font-size: 16px;}
form.form-shipping-address div#shipping-new-address-form fieldset.street{width: 100%;}
form.form-shipping-address div#shipping-new-address-form fieldset.street .field{width: 100%;}
.zalw-shipping-new-address-form .field.required > .label:after{margin-left: 1px;}
.zalw-shipping-new-address-form .field.required > .label{font: 400 16px 'Open Sans' !important;}
.zalw-checkout-step-shipping .form-login div.required > .label:after{margin-left: 1px;}
.zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.field >div.control >span {
    border: 1px solid #ee1e3d;
    padding: 7px 43px;
    position: relative;
    font-style: normal;
    letter-spacing: 0px;
    display: block;
    font-size: 13px;
    color: #ee1e3d;
    font-family: 'Open Sans';
    margin-top: 24px;
}

.zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.field >div.control >span:before{
    position: absolute;
    left: 22px;
    top: 10px;
    color: #ee1e3d;
    font-size: 14px;
    font-family: "FontAwesome";
    content: '\f057';
}

.zalw-checkout-shipping-address .action-show-popup{
    background-color: #00909e;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    color: #fff;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font: bold 14px 'Open Sans';
}
.zalw-checkout-shipping-address .action-show-popup span:before{ content: "";}

.zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.actions-toolbar{margin-top: 25px; margin-bottom: 25px;}
.zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.actions-toolbar > div.primary{float: right;}
.zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.actions-toolbar > div.secondary{float: left;}
.zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.actions-toolbar > div.secondary a{color: #018999; margin-top: 10px;}
.zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.actions-toolbar > div.primary button{
    background-color: #018999;
    border: none;
    border-radius: 0;
    margin-right: 0;
    height: 40px;
    width: 95px;
    border-left: 1px solid #4cacb7;
}
.zalw-checkout-step-shipping .form-login div.required > .label{ font-size: 16px; font-family: 'Open Sans'; margin-bottom: 8px;}
.zalw-checkout-step-shipping form.form-login fieldset.hidden-fields label{font-size: 16px; margin-bottom: 10px;}


.zalw-shipping-address-item.shipping-address-item.zalw-selected-item { padding: 0;}
.zalw-shipping-address-item.shipping-address-item.zalw-not-selected-item { padding: 0;}

.zalw-shipping-address-item.shipping-address-item.zalw-not-selected-item label:before {
    content: '';
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 6px;
    position: absolute;
    left: 0;
    border: 1px solid #444444;
    border-radius: 50%;
}
.zalw-shipping-address-item.shipping-address-item.zalw-selected-item label:before {
    content: '';
    width: 14px;
    height: 14px;
    float: left;
    position: absolute;
    left: 0;
    margin: 6px 0 0 0;
    border: 1px solid #00909e;
    border-radius: 50%;
    background-color: #00909e;
}

input#zalw-select-shipping-address{visibility: hidden; display: none;}

.zalw-shipping-address-item.shipping-address-item{line-height: 27px; margin-bottom: 0px; font-size: 16px;}

.zalw-table-checkout-shipping-method input.zalw-shipping-method:before{
    font-family: FontAwesome;
    content: '\f1db';
    color: #444444;
    background-color: #fff;
    font-size: 17px;
    position: relative;
    left: -1px;
    top: -1px;
}
.zalw-table-checkout-shipping-method input:checked:before{
    content: '\f058';
    color: #008a99;
}
/*-------------------------------*/

.payment-option._collapsible .payment-option-title { cursor: pointer; display: inline;}
.payment-option-inner {
    margin: 0 0 20px;
}
.zalw-checkout-payment-method #checkout-step-payment {
    padding-bottom: 50px;
    position: relative;
}
.zalw-checkout-payment-method .payment-method._active .payment-method-content > div.actions-toolbar{position: absolute; bottom: 0; margin-left: -15px; width: 100%;}
.zalw-checkout-payment-method div.actions-toolbar .primary{width: 100%; height: 60px; text-transform: uppercase;}
.actions-toolbar button.checkout{background-color: #f47e25; border: none;border-radius: 0; width: 100% !important;}

/*.zalw-checkout-payment-method .step-content div.discount-code {display: none;}*/
/*.zalw-checkout-payment-method .step-content div.discount-code {display: none; }*/
button.action.zalw-action-code-button:hover{border: none;background-color: #d9d9d9; color: #000;}
button.action.zalw-action-code-button:active{border: none;background-color: #d9d9d9; color: #000;}
button.action.zalw-action-code-button:focus{border: none;background-color: #d9d9d9; color: #000;}
.giftcard-account-number, .giftcard-account-balance{
    font: 16px 'Open Sans';
}

button.action.zalw-action-code-button{
    width: 100px;
    height: 40px;
    border: 1px solid #008a99;
    border-radius: 0;
    color: #008a99;
    padding: 7px 25px;
    background-color: #fff;
    text-transform: uppercase;
    font: bold 14px 'Open Sans';
}

.zalw-checkout-shipping-address div.mage-error { display: none; }
#shipping-new-address-form div.mage-error { display: none; }
.zalw-checkout-step-shipping-method .no-quotes-block { font-style: italic;}
.zalw-no-quotes-block.no-quotes-block { font-style: italic; }

/*
form.form-shipping-address div#shipping-new-address-form .field ._with-tooltip .field-tooltip .field-tooltip-action:hover:before
form.form-shipping-address div#shipping-new-address-form .field ._with-tooltip .field-tooltip._active .field-tooltip-content
*/

.field ._with-tooltip .field-tooltip .field-tooltip-action:hover:before { color: #018999;}
.field ._with-tooltip .field-tooltip._active .field-tooltip-content {
    background: #FFFFFF;
    border: 5px solid #e5f3f5;
    font-size: 14px;
    padding: 12px;
    width: 270px;
    left: 38px;
    color: #008a99;
    position: absolute;
    text-transform: none;
    top: -9px;
    word-wrap: break-word;
    z-index: 2;
}
form.zalw-onepagecheckout-form-for-payments .field ._with-tooltip .field-tooltip._active .field-tooltip-content {left: -283px; top: 35px;}
form.form-shipping-address div#shipping-new-address-form .field ._with-tooltip .field-tooltip .field-tooltip-content:before { border: none; }
.field ._with-tooltip .field-tooltip .field-tooltip-content:before, .field-tooltip .field-tooltip-content:after { border: none; display: none; }
form.form.form-login .field-tooltip .field-tooltip-action:hover:before{color: #008a99;}
form.form.form-login .field-tooltip._active .field-tooltip-content {
    background: #FFFFFF;
    border: 5px solid #e5f3f5;
    font-size: 14px;
    padding: 12px;
    width: 270px;
    left: 38px;
    color: #008a99;
    position: absolute;
    text-transform: none;
    top: -9px;
    word-wrap: break-word;
    z-index: 2;
}
form.form.form-login .field-tooltip._active .field-tooltip-content:before{border: 0;}
.zalw-checkout-step-shipping form.form.form-login { border-bottom: none; margin-bottom: 3px; margin-top: -9px !important;}
.zalw-checkout-step-shipping form.form.form-login span.note{font-style: italic;}



.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.firstname"]{margin: 10px 0 0 0 !important;}
.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.lastname"]{margin: 10px 0 0 0 !important;}
.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.company"]{ width: 100% !important; float: left; margin: 20px 0 0 0 !important;}

.zalw-checkout-step-shipping .form-shipping-address fieldset.street{ margin: 20px 0 0 0 !important;}
.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.city"]{ margin: 1px 0 0 0 !important;}
.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.region_id"]{ margin: 1px 0 0 0 !important;}
.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.region"]{float: right !important; clear: none !important; margin: 1px 0 0 0 !important;}
.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.postcode"]{margin: 20px 0 0 0 !important;}
.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.country_id"]{margin: 20px 0 0 0 !important;}
/*.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.country_id"] > label {margin: 0 0 4px 0;}*/
.zalw-checkout-step-shipping .form-shipping-address div[name="shippingAddress.telephone"]{width: 100% !important; float: left; margin: 20px 0 0 0 !important;}

.zalw-carrier-name-wrapper .zalw-carrier-name {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
    margin: 14px 0 0 0 !important;
}
.zalw-table-checkout-shipping-method tr > td{border: none; padding: 13px 0 7px 0;}
.zalw-table-checkout-shipping-method tr > td.zalw-shipping-method-price{float: left; font: bold 16px 'Open Sans'; padding: 6px 0 0 1px;}
.zalw-table-checkout-shipping-method tr > td.zalw-shipping-method-name{ font-size: 16px; float: left; margin-right: 8px; padding: 7px 0 9px 2px;}
.zalw-table-checkout-shipping-method tr.zalw-carrier-name-wrapper:first-child td {padding-top: 0 !important;}

.zalw-table-checkout-shipping-method tr > td.zalw-shipping-method-radio-button{padding: 7px 0 2px 0;}

.zalw-onepagecheckout-form-for-payments .fieldset > .field,  .fieldset > .fields > .field{margin: 0 0 10px;}
.zalw-onepagecheckout-form-for-payments .fieldset > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after{margin: 0 0 0 1px;}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form{ padding: 18px 15px 25px 15px; border: 1px solid #dddddd;}
.form-purchase-order .field.field-number.required > .label{margin-bottom: 5px !important;}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form .field.number.required div.control > input {
    width: 100%;
    height: 40px;
    padding-left: 24px;
}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form .field.number.required > label{
    font-family: 'Open Sans';
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
    font-weight: 400;
}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form .field.date.required > label{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form .field.cvv.required > label{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form .field.cvv.required{margin: 0 0 10px; position: relative;}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form .field.cvv.required > div._with-tooltip > .field-tooltip{display: none;}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form .field.cvv.required > div._with-tooltip:after{
    content: '';
    background: url("../images/ver2.png");
    position:absolute;
    z-index:-1;
    top: 0;
    left: 103px;
    width: 52px;
    height: 34px;
}
.checkout-payment-method .credit-card-types .item{    margin: 0 10px 0 0;}
.zalw-checkout-payment-method .payment-method .payment-method-content{padding: 0 16px 0 16px;}
.checkout-payment-method .ccard .month .select{width: 160px; padding: 0 17px 0 19px; margin-right: 20px;  color: #888;}
.checkout-payment-method .ccard .year .select{width: 130px; padding: 0 17px 0 19px; color: #888;}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form .field.cvv.required > div._with-tooltip input{ width: 90px; height: 40px; padding-left: 24px;}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form fieldset > div.number {margin: 0 0 20px 0; position: relative;}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form fieldset > div.date{margin: 0 0 20px 0;}

.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form fieldset > div.date

.zalw-onepagecheckout-form-for-payments .zalw-grand-total-item{border-top: 1px solid #dadada;}
.zalw-grand-total-item .zalw-grand-total-item-label{float: left; font: lighter 24px 'Open Sans'; text-transform: uppercase; margin: 17px 0 33px 0; }
.zalw-grand-total-item .zalw-grand-total-item{float: right; clear: right; font: bolder 24px 'Open Sans'; margin-top: 15px; border: none;}
.zalw-grand-total-item { border-top: 1px solid #dadada; margin-top: 25px; margin-bottom: 48px; }
.form-purchase-order .field.field-number.required { margin: 0;}

/***********************PAYMENT METHODS*********************************/
.zalw-checkout-payment-method .payment-method .payment-method-title .label img{display: none;}
.zalw-checkout-payment-method .payment-method .payment-method-title .label a.action-help {display: none;}
/*--------------------------------------------------------------------*/
/*-------------------------------------- SUMMARY -----------------------------------*/

.zalw-onepagecheckout-block-summary .zalw-minicart-items-wrapper-two{padding: 0 15px 0 0 !important;}
.zalw-minicart-items-header .zalw-product-items-title{margin-top: 5px; background-color: #f4f4f4; margin-bottom: -15px; padding: 10px 15px 10px 15px; border-bottom: 1px solid #dadada;}
.zalw-minicart-items-header .zalw-product-items-title .product-header-name{margin-right: 50px;}
.zalw-minicart-items-header .zalw-product-items-title .product-header-price{margin-left: 20px;}
.zalw-onepagecheckout-block-summary ol.zalw-minicart-items-header{list-style: none; padding-left: 0;}
.zalw-onepagecheckout-block-summary ol.zalw-minicart-items-header li.zalw-product-items-title div{display: inline-block;}
.zalw-onepage-checkout .onepagecheckout-sidebar {margin: 0 !important; position: absolute; top: -20px; right: 0; width: 360px; /*background-color: white;*/ border: 10px solid rgba(242, 242, 242, .3);}
.zalw-onepagecheckout-block-summary span.zalw-summary-title{font: bold 16px 'Open Sans';}
.zalw-one-page-checkout-sidebar .zalw-onepagecheckout-block-summary { background-color: white; border-top: 1px solid #dadada; margin-bottom: 0; padding: 22px 0; }
.zalw-product-item-details-wrapper.product-item-details{padding-left: 0;}
.zalw-product-item-details-wrapper .product-item-inner div{ display: inline-block !important; padding: 0 0 0  15px !important;}
.zalw-product-item-details-wrapper .product-item-inner .zalw-details-qty.details-qty {
    padding: 0 !important;
    margin-top:0;
    vertical-align: top;
    text-align: center;
    width: 30px;
}
.zalw-product-item-details-wrapper .product-item-inner .zalw-subtotal-wrapper {
    float: right;
    padding: 0 !important;
}
.zalw-minicart-items-wrapper-two .zalw-onepagecheckout-product-details{ padding: 10px 0 8px 15px;}

.block.items-in-cart.zalw-items-wrapper-two { margin-bottom: 0; }
.zalw-product-item-details-wrapper .zalw-onepagecheckout-sidebar-toggle{display: none !important;}
.zalw-product-item-details-wrapper .zalw-subitem-content{display: block !important;}

.zalw-onepagecheckout-item-value span.price { padding-left: 15px;}
dt.label.zalw-onepagecheckout-subitem-title { font: 800 italic 12px 'Open Sans'; max-width: 150px;  padding-right: 5px; float: left; clear: left;}
dt.label.zalw-onepagecheckout-subitem-title:after{content: ':'}
dl.item-options.zalw-onepagecheckout-all-subitem-options { padding-left: 30px; margin-bottom: 0;}
dd.values.zalw-onepagecheckout-item-value {    float: left; font-size: 12px; margin-right: 45px; }
dd.values.zalw-onepagecheckout-item-value .price{font-size: 12px; /*margin-top: 6px;*/}
.zalw-shipping-block span.value{display: none !important;}
tr.zalw-grand-total-wrapper { display: none;}
.zalw-onepagecheckout-item-value span.price{display: block;}

span.zalw-subtotal.subtotal { padding-right: 15px;}
span.product-item-name {width: 155px; line-height: 23px; margin-bottom: 0 !important;}
table#zalw-onepagecheckout-summary-table-totals tbody > tr.totals, tr.zalw-totals-tax{border-bottom: 1px solid #dadada;}
table#zalw-onepagecheckout-summary-table-totals tbody > tr.totals:last-child{border-bottom: none;}
#zalw-onepagecheckout-summary-table-totals tbody > tr.totals td.amount{width: 90px !important; padding: 11px 0 10px 0; !important;}
#zalw-onepagecheckout-summary-table-totals tbody > tr.zalw-totals-tax td.amount{width: 90px !important; padding: 11px 0 10px 0; !important;}
#zalw-onepagecheckout-summary-table-totals tbody > tr.totals th.mark{text-align: right; padding: 11px 0 10px 0;}
#zalw-onepagecheckout-summary-table-totals tbody > tr.zalw-totals-tax th.mark{text-align: right; padding: 11px 0 10px 0;}
.onepagecheckout-block-summary .zalw-onepagecheckout-product-details .product-item-inner{margin: 0; display: block;}
.zalw-onepagecheckout-block-summary .zalw-onepagecheckout-product-details .zalw-subtotal{display: block}
.zalw-summary-cart { position: absolute; top: -60px; right: 2px; background-color: #00909E;}
.zalw-summary-cart-arrow:before {
    content: '';
    position: absolute;
    top: 100%;
    z-index: 555;
    right: 17px;
    border-top: 11px solid #00909E;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.zalw-onepagecheckout-all-subitem-options dt{ margin-bottom: 0; /*margin-top: 6px;*/     line-height: 23px !important;}
.zalw-onepagecheckout-all-subitem-options dd{ margin-bottom: 0;/*margin-top: 6px;*/     line-height: 22px !important;}

.zalw-summary-cart .zalw-grand-total-button{ display: block; cursor: pointer; padding: 7px 23px; color: #fff; font: bold 18px 'Open Sans';}

.zalw-summary-cart .zalw-grand-total-button:before{content: '\f07a'; margin-right: 15px; font: 18px FontAwesome;}
.zalw-summary-cart .zalw-arrow-down:after{content: '\f078'; margin-left: 15px; font: 18px FontAwesome;}
.zalw-summary-cart .zalw-arrow-up:after{content: '\f077'; margin-left: 15px; font: 18px FontAwesome;}
#zalw-onepagecheckout-summary-table-totals .incl, .grand.excl{display: none;}

/*------------------------------------ END SUMMARY -----------------------------------*/


/*NEW ADDRESS POP-UP*/
.modal-content .zalw-step-title{display: none;}
.zalw-onepage-checkout .modal-popup .modal-title{font: lighter 24px 'Open Sans'; text-transform: uppercase; padding-bottom: 7px;}
.zalw-onepage-checkout .modal-popup .action-close:before, .modal-slide .action-close:before{font: 14px FontAwesome; content: '\f00d'; color: #dadada;}
.zalw-onepage-checkout .modal-popup .action-close:before, .modal-slide .action-close{padding: 7px;}
.zalw-onepage-checkout .modal-popup .modal-header{padding-top: 16px !important; padding-bottom: 0 !important;}
.zalw-onepage-checkout .modal-popup._inner-scroll .modal-content{margin-top: 0; padding: 25px 25px 20px;}

.modal-content form.form-shipping-address div#shipping-new-address-form .field:first-child:nth-child(2n+1){
    float: right;
    clear: right;
}
.modal-content form.form-shipping-address div#shipping-new-address-form .field{
    float: left;
    clear: none;
    width: 49%;
    margin: -2px 0 19px 0;
    font-size: 16px;
}
.modal-content form.form-shipping-address div#shipping-new-address-form fieldset.street{width: 100%; margin-bottom: 0;}
.modal-content form.form-shipping-address div[name="shippingAddress.company"]{ width: 100% !important; float: left; }
.modal-content form.form-shipping-address div[name="shippingAddress.region_id"] {float: right !important;}
.modal-content form.form-shipping-address div[name="shippingAddress.country_id"] {float: right !important;}
.modal-content form.form-shipping-address div[name="shippingAddress.region"] {float: right !important;}
.modal-content form.form-shipping-address div[name="shippingAddress.firstname"] {float: left !important;}
.modal-content form.form-shipping-address div[name="shippingAddress.lastname"] {float: right !important;}
.modal-content form.form-shipping-address div[name="shippingAddress.telephone"] {width: 100% !important; }
/*.modal-content form.form-shipping-address div[name="shippingAddress.lastname"] {float: right !important;}*/
.zalw-onepage-checkout.checkout-index-index .modal-popup .form-shipping-address{min-width: 100%;}
.zalw-onepage-checkout .modal-popup.modal-slide .modal-footer{
    border-top: 1px solid #dadada;
    padding: 15px 0 15px 0;
    margin: 0 25px;
}
.modal-popup .zalw-shipping-new-address-form input{height: 40px;}
.modal-popup .zalw-shipping-new-address-form input.checkbox{height: 13px;}
.modal-content form.form-shipping-address div#shipping-new-address-form .field ._with-tooltip .field-tooltip._active .field-tooltip-content{
    left: -312px;
    top: 2px;
    font: 12px 'Open Sans';
}
.zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-hide-popup span:before{content: '\f104'; margin-right: 5px; font: 900 14px FontAwesome;}
.zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-hide-popup span{font: 14px 'Open Sans'; color: #000;}
.zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-hide-popup:hover{text-decoration: none;}
.zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-save-address{ width: 150px; height: 40px; border: none; border-radius: 0; background-color: #018999; text-transform: uppercase;}

.modal-content form.form-shipping-address div#shipping-new-address-form .field.choice > #shipping-save-in-address-book{display: none;}
.modal-content form.form-shipping-address div#shipping-new-address-form .field.choice > input[type="checkbox"] + label{ cursor: pointer; font: 16px 'Open Sans';}
.modal-content form.form-shipping-address div#shipping-new-address-form .field.choice > input[type="checkbox"] + label::before{
    content: "\f096";
    margin-right: 10px;
    font-family: FontAwesome;
    width: 15px;
}
.modal-content form.form-shipping-address div#shipping-new-address-form .field.choice > input[type="checkbox"]:checked + label::before {
    content: "\f14a";
    font-family: FontAwesome;
    width: 15px;
    color: #018999;
}

/*****END NEW ADDRESS POP-UP**************/

/*CC STYLES*/

.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form fieldset > div.number > label:before{
    content: '4111 1111 1111 1111';
    font-size: 14px;
    color: #888;
    position: absolute;
    left: 25px;
    top: 79px;
    display:inline-block;
}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form fieldset > div.number > label.focus:before{display: none;}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form fieldset > div.cvv > label:before{
    content: '123';
    font-size: 14px;
    color: #888;
    position: absolute;
    left: 25px;
    z-index: 5;
    top: 40px;
    display:inline-block;
}
.zalw-onepagecheckout-form-for-payments .fieldset .onepagecheckout-payment .payment-method._active > .payment-method-content > form.form fieldset > div.cvv > label.focus:before{display: none;}

/***********/


/*****Discount Codes*****/
.payment-option span.action-toggle:after {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 16px;
    color: #8f8f8f;
    content: '\f0fe';
    font-family: FontAwesome;
    margin: 0 0 0 10px;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
}
.payment-option._active span.action-toggle:after {font-family: FontAwesome;content: '\f146';}
.zalw-action-toggle {
    color: #343434;
    display: inline-block;
    text-decoration: none;
    /*margin-bottom: 9px;*/
    border-bottom: 1px solid #dadada;
    padding-bottom: 9px;
    width: 100%;
    font: bold 16px 'Open Sans';
}
.payment-option._collapsible.onepagecheckout-payment-additional.discount-code.zalw-discount-code-wrapper { margin-bottom: 45px;}
.zalw-input-for-code{border: 1px solid #e3e3e3 !important; border-radius: 0 !important; height: 40px !important;}
.checkout-shipping-method .zalw-actions-toolbar.actions-toolbar > .primary{text-align: left;}

label.label.zalw-additional-block-code-label { position: static !important;}
.zalw-onepagecheckout-additional-blocks .zalw-additional-block-form-wrapper { padding-top: 20px;}
.zalw-onepagecheckout-additional-blocks .zalw-comment-field { padding-top: 25px;}
.zalw-onepagecheckout-additional-blocks .zalw-additional-block-form-wrapper .zalw-input-for-code{margin: 9px 0 -5px 0;}
span.zalw-additional-block-code-name{font: 16px 'Open Sans';}

.zalw-additional-block-form-wrapper .messages > .message-success {color: #018A9A;background: #fff; border: 1px solid #018A9A;font: 13px 'Open Sans';}
.zalw-additional-block-form-wrapper .messages > .message-success div:before {content: '\f058'; margin: -7px 0 0 9px; color: #018A9A; font: 13px FontAwesome; }
.zalw-additional-block-form-wrapper .messages > .message-error {color: #E71C39;background: #fff; border: 1px solid #E71C39;font: 13px 'Open Sans';}
.zalw-additional-block-form-wrapper .messages > .message-error div:before {content: '\f057'; margin: -7px 0 0 9px; color: #E71C39; font: 13px FontAwesome; }

.zalw-additional-block-form-wrapper .actions-toolbar .primary{float: none !important; display: block;}
.secondary.zalw-onepagecheckout-check-balance { margin-top: 15px;}
div.zalw-onepagecheckout-discount-code-button{margin-bottom: 44px;}
/***********************/

/********FORGOT PASSWORD POP_up************/
/*.zalw-onepage-checkout .zalw-onepagecheckout-forgot-main-wrapper{display: none;}*/
.zalw-onepagecheckout-forgot-wrapper .modal-inner-wrap {width: 345px !important; margin: 150px auto !important; }
.zalw-onepagecheckout-forgot-wrapper .zalw-onepagecheckout-forgot-form{width: 100% !important; min-width: 100% !important;}
.zalw-onepagecheckout-forgot-wrapper .action-close{padding: 10px;}
.zalw-onepagecheckout-forgot-wrapper .forgot-header {font: lighter 24px 'Open Sans';border-bottom: 1px solid #e4e4e4; margin-bottom: 19px; padding-bottom: 6px;}
.modal-popup .modal-header{padding-top: 25px !important; padding-bottom: 0 !important;}
.zalw-onepagecheckout-forgot-form .note{font: 14px 'Open Sans';}
button.zalw-hidden-button-for-popup {position: absolute;bottom: 21px; background-color: white; border: none; box-shadow: none; margin-left: -10px; padding-left: 5px;}
.zalw-onepagecheckout-forgot-form .actions-toolbar {padding-left: 195px;}
.zalw-onepagecheckout-forgot-wrapper footer.modal-footer {padding-bottom: 0; padding-top: 0;}
button.zalw-hidden-button-for-popup > span:before {
    content: '\f053';
    font-family: FontAwesome;
    color: #444444;
    font-size: 12px;
    font-weight: lighter;
    margin-right: 6px;
    text-transform: capitalize;
}
button.zalw-hidden-button-for-popup > span{ font: lighter 14px 'Open Sans';}
.zalw-onepagecheckout-forgot-form .actions-toolbar .primary > button{ width: 100px; height: 40px; background-color: #018999; text-transform: uppercase; border: none; border-radius: 0;}

.zalw-onepagecheckout-forgot-response-message.response-success{
    border: 1px solid #018999;
    padding: 7px 43px;
    margin-bottom: 40px;
    position: relative;
    font-style: normal;
    letter-spacing: 0px;
    display: block;
    font-size: 13px;
    color: #018999;
    font-family: 'Open Sans';
}
.zalw-onepagecheckout-forgot-response-message.response-success:before{
    content: '\f058';
    color: #008a99;
    font-family: "FontAwesome";
    position: absolute;
    left: 22px;
    top: 10px;
}

/************END FORGOT PASSWORD POP_up**********/

/*****************Terms and Conditions**********/
.zalw-onepage-checkout .modal-popup{overflow: auto;}
.zalw-onepage-checkout.checkout-index-index .modal-popup .modal-inner-wrap{
    outline: 10px solid rgba(85, 85, 85, 0.1);
    max-width: 748px;
    margin-left: auto;
    left: 0;
    max-height: 748px;
}
.zalw-checkout-agreements-item-content.checkout-agreements-item-content {font: 16px 'Open Sans';}
.zalw-checkout-form-wrapper .zalw-checkout-agreements-wrapper .zalw-checkout-agreement{display: inline-block; width: 100%; margin-bottom: 25px;}
.zalw-checkout-form-wrapper .zalw-checkout-agreements-wrapper .zalw-checkout-agreement:last-child {margin-bottom: 55px;}
.zalw-checkout-agreement .zalw-terms-input-label button.action.action-show.zalw-terms-label-button {
    width: 90%;
    padding: 0;
    border: none;
    background-color: #fff;
    box-shadow: none;
    vertical-align: top;
    text-align: left;
    font: 500 16px 'Open Sans';
}
.zalw-checkout-agreement input.zalw-terms-input{margin: 4px 7px 0 0; position: absolute; opacity: 0;}

.zalw-checkout-agreement input[type="checkbox"] + label::before{ content: "\f096";  margin-right: 10px;  font-family: FontAwesome; width: 15px;}
.zalw-checkout-agreement input[type="checkbox"]:checked + label::before { content: "\f14a"; font-family: FontAwesome; width: 15px; color: #018999;}

.zalw-checkout-agreements-modal .zalw-checkout-agreements-item-title.checkout-agreements-item-title {
    font: 100 24px 'Open Sans';
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 7px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.zalw-onepagecheckout-forgot-wrapper .modal-inner-wrap .modal-content{
    padding-left: 25px;
    padding-right: 25px;
}
.modal-popup .modal-inner-wrap .modal-content .zalw-summary-cart{display: none;}
/**********************************************/

.checkout-payment-method .payment-method-title img.payment-icon{display: none;}

.cart-gift-item{display: none;}


/*new changes*/

body .zalw-onepagecheckout-block-summary .zalw-minicart-items-wrapper-two  { display: inline-block;
    margin: 0;
    padding: 0 !important;
    width: 100%; }


  body .zalw-onepagecheckout-block-summary .zalw-minicart-items-wrapper-two.product-item {
    padding-left: 0;
    width: 100%;
}

body .zalw-onepage-checkout-container .onepagecheckout-wrapper li {
    box-sizing: border-box;
    float: left;
    margin-bottom: 0;
    width: 100%;

    padding-top:15px !important;
}

body .zalw-onepage-checkout-container .zalw-minicart-items-wrapper-two .minicart-items li.zalw-onepagecheckout-product-details { padding-left: 0px;  }

.product-header-price {
    float: right;
}

body .zalw-minicart-items-wrapper-two {  border: none !important; padding-top: 15px; }
body #zalw-onepagecheckout-summary-table-totals tbody > tr.totals th.mark {  text-align: left; }
.totals td.amount{  text-align: right; }


/*Add new css for checkout page*/

#checkoutSteps li{
    width: 33.33%;
    float: left;
    padding: 20px;
	display:inline-block;
	position:relative;
	list-style: none;
	margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px #ccc;
}
#checkoutSteps li li{ width:100%; }
#checkoutSteps li::before {
    content: "";
    background-color: #4d4d4d;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    z-index: -1;
    top: 17px;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 29px;
	text-align: center;
}
#checkoutSteps li:first-child::before{
	content: "1";
}
#checkoutSteps li:nth-child(2)::before{
	content: "2";
}
#checkoutSteps li:nth-child(3)::before{
	content: "3";
}
#checkoutSteps li .step-title,
#checkoutSteps li .zalw-no-quotes-block{
	border-bottom: 1px solid #ccc;
	display: block;
	margin: 0 -20px 20px;
	padding: 0 20px 16px 60px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color: #333;	
}
button.action.zalw-action-code-button{
	border: 1px solid #535353;
	background-color: #535353;
	box-shadow: none;
	color: #fff;
}
#checkoutSteps button {
    border: 1px solid #ff5501;
    background-color: #ff5501;
    box-shadow: none;
    color: #fff;
}


@media (max-width: 768px) {
	#checkoutSteps li{ width:100%; margin:0 0 20px; }
}

@media (max-width: 767px) {
 
 .zalw-onepage-checkout main#maincontent {  padding-left: 20px !important; padding-right: 20px !important; }
 .onepagecheckout-wrapper .onepagecheckout  { padding-left:0px; }
 
}