<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="zalw-subtotal-wrapper">
    <span class="zalw-subtotal subtotal" data-bind="text: getValue($parents[1])"></span>
</div>