<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="zalw-product-item-details-wrapper product-item-details">

    <div class="product-item-inner">
        <div class="zalw-product-item-name-block product-item-name-block">
            <span class="product-item-name" data-bind="text: $parent.name"></span>
        </div>
        <div class="zalw-details-qty details-qty">
            <!--<span class="label">&lt;!&ndash; ko i18n: 'Qty' &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;</span>-->
            <span class="value" data-bind="text: $parent.qty"></span>
        </div>
        <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
    <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <span data-role="title" class="toggle zalw-onepagecheckout-sidebar-toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
        <div data-role="content" class="content zalw-subitem-content">
            <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
            <dl class="item-options zalw-onepagecheckout-all-subitem-options">
                <!--ko foreach: JSON.parse($parent.options)-->
                <dt class="label zalw-onepagecheckout-subitem-title" data-bind="text: label"></dt>
                    <!-- ko if: ($data.full_view)-->
                    <dd class="values zalw-onepagecheckout-item-value" data-bind="html: full_view"></dd>
                    <!-- /ko -->
                    <!-- ko ifnot: ($data.full_view)-->
                    <dd class="values zalw-onepagecheckout-item-value" data-bind="html: value"></dd>
                    <!-- /ko -->
                <!-- /ko -->
            </dl>
        </div>
    </div>
    <!-- /ko -->
</div>
